Now lets clean the anonymized data

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("Anonymized_Data.csv")

In [14]:
df

,Timestamp,Student ID,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,Jersey Sizes,Payment Date,Date of Birth,Age,Gender,School,Age Group,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement
0,7/16/2024 13:31:46,DK-201112-0,True,True,True,True,True,"$2,000.00",34.0,Aug 24,12/22/2011,12.0,Female,DSC Ä°nternational School,August 12-16 (Mon-Fri) at ESF / Ages 6-13 - 9:...,Confirm,Confirm,Confirm
1,7/16/2024 14:01:06,DC-201204-1,True,True,True,True,True,"$2,000.00",36.0,NaN,4/26/2012,12.0,Male,ESF Island School,August 12-16 (Mon-Fri) at ESF / Ages 6-13 - 9:...,Confirm,Confirm,Confirm
2,7/26/2024 13:45:05,JC-201209-1,True,True,False,True,True,"$1,800.00",34.0,NaN,9/12/2012,11.0,Male,South Island School,NaN,Confirm,Confirm,Confirm
3,7/27/2024 6:34:32,EC-201204-1,True,True,False,False,True,NaN,36.0,NaN,4/10/2012,12.0,Male,HKIS,NaN,Confirm,Confirm,Confirm
4,7/27/2024 6:36:31,EC-201410-1,True,True,True,True,True,NaN,34.0,NaN,10/27/2014,9.0,Male,HKIS,NaN,Confirm,Confirm,Confirm
5,7/30/2024 4:16:19,LM-201508-1,True,True,True,False,True,"$1,600.00",32.0,Aug 23,8/22/2015,9.0,Male,IMS,NaN,Confirm,Confirm,Confirm
6,7/30/2024 6:38:05,AL-201410-1,True,True,True,True,True,"$2,000.00",34.0,July 30,10/17/2014,9.0,Male,HKIS,NaN,Confirm,Confirm,NaN
7,7/31/2024 6:49:26,AJ-201306-1,True,True,True,True,True,"$2,000.00",32.0,Aug 1,6/7/2013,11.0,Male,Silvermine bay school,NaN,Confirm,Confirm,Confirm
8,8/2/2024 11:00:47,RJL-201204-1,False,False,False,False,False,NaN,NaN,NaN,4/3/2012,12.0,Male,French International School,NaN,Confirm,Confirm,Confirm
9,8/2/2024 11:52:26,LVH-201709-1,True,True,True,True,True,"$1,800.00",28.0,Aug 19,9/19/2017,6.0,Male,Victoria Shanghai Academy,NaN,Confirm,Confirm,Confirm
10,8/2/2024 12:15:57,TT-201602-1,True,True,False,False,True,"$2,000.00",34.0,Aug 11,2/27/2016,8.0,Male,Hkis,NaN,Confirm,Confirm,Confirm
11,8/5/2024 6:26:46,CC-201705-1,True,True,True,True,True,"$2,000.00",30.0,Aug 23,5/19/2017,7.0,Male,Hong Kong Harrow International School,NaN,Confirm,Confirm,Confirm
12,8/5/2024 7:01:02,NL-201811-1,False,False,False,False,False,NaN,NaN,NaN,11/2/2018,5.0,Male,The ISF School,NaN,Confirm,Confirm,Confirm
13,8/13/2024 12:27:02,CL-201303-1,False,True,False,True,False,$720.00,NaN,Aug 14,3/11/2013,11.0,Male,CDNIS,NaN,Confirm,Confirm,Confirm
14,8/15/2024 13:20:20,SK-201406-1,True,True,True,True,True,"$1,800.00",34.0,NaN,6/6/2014,10.0,Male,YMCA Christian Academy,NaN,Confirm,Confirm,Confirm
15,8/18/2024 2:09:55,GTT-201108-1,True,True,False,True,False,"$2,000.00",NaN,NaN,8/21/2011,13.0,Male,Chinese International School,NaN,Confirm,Confirm,Confirm
16,8/18/2024 3:43:37,CC-201106-1,True,False,False,False,False,NaN,NaN,NaN,6/19/2011,13.0,Male,CIS,NaN,Confirm,Confirm,Confirm
17,8/18/2024 9:34:53,CH-201302-1,True,True,True,True,True,"$2,000.00",36.0,Aug 18,2/1/2013,11.0,Male,Kellett,NaN,Confirm,Confirm,Confirm
18,8/18/2024 13:37:18,TD-201004-1,True,False,True,False,True,"$1,200.00",40.0,NaN,4/21/2010,14.0,Male,Canadian international school,NaN,Confirm,Confirm,Confirm
19,8/18/2024 13:52:32,BH-201109-1,True,True,False,False,True,"$2,000.00",38.0,NaN,9/20/2011,12.0,Male,ESF SIS,NaN,Confirm,Confirm,Confirm
20,8/18/2024 15:26:00,JZ-201603-1,False,False,False,True,True,"$2,000.00",32.0,NaN,3/23/2016,8.0,Male,HKIS,NaN,Confirm,Confirm,Confirm
21,8/18/2024 18:01:33,ZF-201008-1,False,True,True,True,True,"$2,000.00",40.0,NaN,8/5/2010,14.0,Male,Canadian International School,NaN,Confirm,Confirm,Confirm
22,8/18/2024 18:39:17,TAJ-201207-0,False,False,False,False,False,NaN,NaN,NaN,7/9/2012,12.0,Female,Chinese International School,NaN,Confirm,Confirm,Confirm
23,8/18/2024 18:52:33,WL-200805-1,False,True,True,False,False,$400.00,NaN,Aug 24,5/13/2008,16.0,Male,Harrow School,NaN,Confirm,Confirm,Confirm
24,8/19/2024 4:36:31,LL-201806-1,True,True,True,True,True,"$2,000.00",26.0,NaN,6/11/2018,6.0,Male,SJPS,NaN,Confirm,Confirm,Confirm
25,8/19/2024 7:35:04,BY-201212-1,True,True,True,True,True,"$2,000.00",38.0,NaN,12/17/2012,11.0,Male,AISHK,NaN,Confirm,Confirm,Confirm
26,8/19/2024 7:35:53,MY-201508-0,True,True,True,True,True,"$2,000.00",30.0,NaN,8/31/2015,8.0,Female,AISHK,NaN,Confirm,Confirm,Confirm
27,8/19/2024 9:53:38,KW-201510-1,True,True,True,True,False,"$2,000.00",NaN,Aug 19,10/13/2015,8.0,Male,Australian International School,NaN,Confirm,Confirm,Confirm
28,8/19/2024 13:34:27,CC-201009-1,True,False,True,False,False,"$1,200.00",NaN,NaN,9/24/2010,13.0,Male,CIS,NaN,Confirm,Confirm,Confirm
29,8/19/2024 15:02:07,MK-201804-0,True,True,True,True,False,"$2,000.00",26.0,NaN,4/8/2018,6.0,Female,YMCA Christian Academy,NaN,Confirm,Confirm,Confirm
30,NaN,OGB-201701-1,True,True,True,True,True,NaN,NaN,NaN,1/1/2017,NaN,Male,NaN,NaN,NaN,NaN,NaN
31,NaN,CW-201701-1,False,False,True,False,True,$800.00,42.0,Aug 21,1/1/2017,NaN,Male,NaN,NaN,NaN,NaN,NaN
32,NaN,AA-200910-1,True,True,True,True,True,NaN,40.0,NaN,10/14/2009,NaN,Male,NaN,NaN,NaN,NaN,NaN
33,NaN,AA-200805-1,True,True,True,True,True,NaN,40.0,NaN,5/31/2008,NaN,Male,NaN,NaN,NaN,NaN,NaN

Check Data Types

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Timestamp                            30 non-null     object
 1   Student ID                           34 non-null     object
 2   Aug 19                               34 non-null     bool
 3   Aug 20                               34 non-null     bool
 4   Aug 21                               34 non-null     bool
 5   Aug 22                               34 non-null     bool
 6   Aug 23                               34 non-null     bool
 7   Payment Received                     25 non-null     object
 8   Jersey Sizes                         24 non-null     float64
 9   Payment Date                         12 non-null     object
 10  Date of Birth                        34 non-null     object
 11  Age                                  30 non-null     float64
 12  Gender                               34 non-null     object
 13  School                               30 non-null     object
 14  Age Group                            2 non-null      object
 15  Payment Instruction Acknowledgement  30 non-null     object
 16  Injury Liability Waver               30 non-null     object
 17  Photograph Release Agreement         29 non-null     object
dtypes: bool(5), float64(2), object(11)
memory usage: 3.7+ KB

Convert data to appropriate data types

In [24]:
# Convert Timestamp column to datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%m/%d/%Y %H:%M:%S')
# Convert Payment Received to integer
df['Payment Received'] = df['Payment Received'].astype(str).str.replace('[$,]', '', regex=True).astype(float).astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

Check for missing values

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Timestamp                            30 non-null     datetime64[ns]
 1   Student ID                           34 non-null     object
 2   Aug 19                               34 non-null     bool
 3   Aug 20                               34 non-null     bool
 4   Aug 21                               34 non-null     bool
 5   Aug 22                               34 non-null     bool
 6   Aug 23                               34 non-null     bool
 7   Payment Received                     25 non-null     object
 8   Jersey Sizes                         24 non-null     float64
 9   Payment Date                         12 non-null     object
 10  Date of Birth                        34 non-null     object
 11  Age                                  30 non-null     float64
 12  Gender                               34 non-null     object
 13  School                               30 non-null     object
 14  Age Group                            2 non-null      object
 15  Payment Instruction Acknowledgement  30 non-null     object
 16  Injury Liability Waver               30 non-null     object
 17  Photograph Release Agreement         29 non-null     object
dtypes: bool(5), datetime64[ns](1), float64(2), object(10)
memory usage: 3.7+ KB

In [13]:
df.isnull().sum()

Timestamp                               4
Student ID                              0
Aug 19                                  0
Aug 20                                  0
Aug 21                                  0
Aug 22                                  0
Aug 23                                  0
Payment Received                        9
Jersey Sizes                           10
Payment Date                           22
Date of Birth                           0
Age                                     4
Gender                                  0
School                                  4
Age Group                              32
Payment Instruction Acknowledgement     4
Injury Liability Waver                  4
Photograph Release Agreement            5
dtype: int64

Lets deal with the missing information.

Lets fill in the null values

In [10]:
df

,Timestamp,Student ID,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,Jersey Sizes,Payment Date,Date of Birth,Age,Gender,School,Age Group,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement
0,7/16/2024 13:31:46,DK-201112-0,True,True,True,True,True,"$2,000.00",34.0,Aug 24,12/22/2011,12.0,Female,DSC Ä°nternational School,August 12-16 (Mon-Fri) at ESF / Ages 6-13 - 9:...,Confirm,Confirm,Confirm
1,7/16/2024 14:01:06,DC-201204-1,True,True,True,True,True,"$2,000.00",36.0,NaN,4/26/2012,12.0,Male,ESF Island School,August 12-16 (Mon-Fri) at ESF / Ages 6-13 - 9:...,Confirm,Confirm,Confirm
2,7/26/2024 13:45:05,JC-201209-1,True,True,False,True,True,"$1,800.00",34.0,NaN,9/12/2012,11.0,Male,South Island School,NaN,Confirm,Confirm,Confirm
3,7/27/2024 6:34:32,EC-201204-1,True,True,False,False,True,NaN,36.0,NaN,4/10/2012,12.0,Male,HKIS,NaN,Confirm,Confirm,Confirm
4,7/27/2024 6:36:31,EC-201410-1,True,True,True,True,True,NaN,34.0,NaN,10/27/2014,9.0,Male,HKIS,NaN,Confirm,Confirm,Confirm
5,7/30/2024 4:16:19,LM-201508-1,True,True,True,False,True,"$1,600.00",32.0,Aug 23,8/22/2015,9.0,Male,IMS,NaN,Confirm,Confirm,Confirm
6,7/30/2024 6:38:05,AL-201410-1,True,True,True,True,True,"$2,000.00",34.0,July 30,10/17/2014,9.0,Male,HKIS,NaN,Confirm,Confirm,NaN
7,7/31/2024 6:49:26,AJ-201306-1,True,True,True,True,True,"$2,000.00",32.0,Aug 1,6/7/2013,11.0,Male,Silvermine bay school,NaN,Confirm,Confirm,Confirm
8,8/2/2024 11:00:47,RJL-201204-1,False,False,False,False,False,NaN,NaN,NaN,4/3/2012,12.0,Male,French International School,NaN,Confirm,Confirm,Confirm
9,8/2/2024 11:52:26,LVH-201709-1,True,True,True,True,True,"$1,800.00",28.0,Aug 19,9/19/2017,6.0,Male,Victoria Shanghai Academy,NaN,Confirm,Confirm,Confirm
10,8/2/2024 12:15:57,TT-201602-1,True,True,False,False,True,"$2,000.00",34.0,Aug 11,2/27/2016,8.0,Male,Hkis,NaN,Confirm,Confirm,Confirm
11,8/5/2024 6:26:46,CC-201705-1,True,True,True,True,True,"$2,000.00",30.0,Aug 23,5/19/2017,7.0,Male,Hong Kong Harrow International School,NaN,Confirm,Confirm,Confirm
12,8/5/2024 7:01:02,NL-201811-1,False,False,False,False,False,NaN,NaN,NaN,11/2/2018,5.0,Male,The ISF School,NaN,Confirm,Confirm,Confirm
13,8/13/2024 12:27:02,CL-201303-1,False,True,False,True,False,$720.00,NaN,Aug 14,3/11/2013,11.0,Male,CDNIS,NaN,Confirm,Confirm,Confirm
14,8/15/2024 13:20:20,SK-201406-1,True,True,True,True,True,"$1,800.00",34.0,NaN,6/6/2014,10.0,Male,YMCA Christian Academy,NaN,Confirm,Confirm,Confirm
15,8/18/2024 2:09:55,GTT-201108-1,True,True,False,True,False,"$2,000.00",NaN,NaN,8/21/2011,13.0,Male,Chinese International School,NaN,Confirm,Confirm,Confirm
16,8/18/2024 3:43:37,CC-201106-1,True,False,False,False,False,NaN,NaN,NaN,6/19/2011,13.0,Male,CIS,NaN,Confirm,Confirm,Confirm
17,8/18/2024 9:34:53,CH-201302-1,True,True,True,True,True,"$2,000.00",36.0,Aug 18,2/1/2013,11.0,Male,Kellett,NaN,Confirm,Confirm,Confirm
18,8/18/2024 13:37:18,TD-201004-1,True,False,True,False,True,"$1,200.00",40.0,NaN,4/21/2010,14.0,Male,Canadian international school,NaN,Confirm,Confirm,Confirm
19,8/18/2024 13:52:32,BH-201109-1,True,True,False,False,True,"$2,000.00",38.0,NaN,9/20/2011,12.0,Male,ESF SIS,NaN,Confirm,Confirm,Confirm
20,8/18/2024 15:26:00,JZ-201603-1,False,False,False,True,True,"$2,000.00",32.0,NaN,3/23/2016,8.0,Male,HKIS,NaN,Confirm,Confirm,Confirm
21,8/18/2024 18:01:33,ZF-201008-1,False,True,True,True,True,"$2,000.00",40.0,NaN,8/5/2010,14.0,Male,Canadian International School,NaN,Confirm,Confirm,Confirm
22,8/18/2024 18:39:17,TAJ-201207-0,False,False,False,False,False,NaN,NaN,NaN,7/9/2012,12.0,Female,Chinese International School,NaN,Confirm,Confirm,Confirm
23,8/18/2024 18:52:33,WL-200805-1,False,True,True,False,False,$400.00,NaN,Aug 24,5/13/2008,16.0,Male,Harrow School,NaN,Confirm,Confirm,Confirm
24,8/19/2024 4:36:31,LL-201806-1,True,True,True,True,True,"$2,000.00",26.0,NaN,6/11/2018,6.0,Male,SJPS,NaN,Confirm,Confirm,Confirm
25,8/19/2024 7:35:04,BY-201212-1,True,True,True,True,True,"$2,000.00",38.0,NaN,12/17/2012,11.0,Male,AISHK,NaN,Confirm,Confirm,Confirm
26,8/19/2024 7:35:53,MY-201508-0,True,True,True,True,True,"$2,000.00",30.0,NaN,8/31/2015,8.0,Female,AISHK,NaN,Confirm,Confirm,Confirm
27,8/19/2024 9:53:38,KW-201510-1,True,True,True,True,False,"$2,000.00",NaN,Aug 19,10/13/2015,8.0,Male,Australian International School,NaN,Confirm,Confirm,Confirm
28,8/19/2024 13:34:27,CC-201009-1,True,False,True,False,False,"$1,200.00",NaN,NaN,9/24/2010,13.0,Male,CIS,NaN,Confirm,Confirm,Confirm
29,8/19/2024 15:02:07,MK-201804-0,True,True,True,True,False,"$2,000.00",26.0,NaN,4/8/2018,6.0,Female,YMCA Christian Academy,NaN,Confirm,Confirm,Confirm
30,NaN,OGB-201701-1,True,True,True,True,True,NaN,NaN,NaN,1/1/2017,NaN,Male,NaN,NaN,NaN,NaN,NaN
31,NaN,CW-201701-1,False,False,True,False,True,$800.00,42.0,Aug 21,1/1/2017,NaN,Male,NaN,NaN,NaN,NaN,NaN
32,NaN,AA-200910-1,True,True,True,True,True,NaN,40.0,NaN,10/14/2009,NaN,Male,NaN,NaN,NaN,NaN,NaN
33,NaN,AA-200805-1,True,True,True,True,True,NaN,40.0,NaN,5/31/2008,NaN,Male,NaN,NaN,NaN,NaN,NaN

Lets count and remove individuals who didnt attend the camp.

In [12]:
# DNA = Did Not Attend
DNA = df[(df[['Aug 19', 'Aug 20', 'Aug 21', 'Aug 22', 'Aug 23']] == False).all(axis=1)]

# Extract the names of the participants meeting the condition
names = DNA['Student ID']
print(names)

8     RJL-201204-1
12     NL-201811-1
22    TAJ-201207-0
Name: Student ID, dtype: object