Now lets clean the anonymized data

In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("data/Anonymized_Data.csv")

In [35]:
df.head()

,Timestamp,Student ID,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,Jersey Sizes,Payment Date,Date of Birth,Age,Gender,School,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement
0,7/16/2024 13:31:46,DK-201112-0,True,True,True,True,True,"$2,000.00",34.0,Aug 24,12/22/2011,12,Female,Dsc International School,Confirm,Confirm,Confirm
1,7/16/2024 14:01:06,DC-201204-1,True,True,True,True,True,"$2,000.00",36.0,NaN,4/26/2012,12,Male,ESF Island School,Confirm,Confirm,Confirm
2,7/26/2024 13:45:05,JC-201209-1,True,True,False,True,True,"$1,800.00",34.0,NaN,9/12/2012,11,Male,ESF South Island School,Confirm,Confirm,Confirm
3,7/27/2024 6:34:32,EC-201204-1,True,True,False,False,True,NaN,36.0,NaN,4/10/2012,12,Male,Hong Kong International School,Confirm,Confirm,Confirm
4,7/27/2024 6:36:31,EC-201410-1,True,True,True,True,True,NaN,34.0,NaN,10/27/2014,9,Male,Hong Kong International School,Confirm,Confirm,Confirm

Remove students who did not attend any of the days during the camp

In [36]:
# DNA = Did Not Attend
DNA = df[(df[['Aug 19', 'Aug 20', 'Aug 21', 'Aug 22', 'Aug 23']] == False).all(axis=1)]

# Extract the names of the participants meeting the condition
dna_id = DNA['Student ID']
print(dna_id)

8     RJL-201204-1
12     NL-201811-1
22    TAJ-201207-0
Name: Student ID, dtype: object

Remove those who did not attend the camp

In [37]:
df = df[~df['Student ID'].isin(dna_id)]

Check for missing values

In [38]:
# The basketball camp started on 8/19/2024 18:00:00, so we will fill the null values with this
df.isnull().sum()

Timestamp                               4
Student ID                              0
Aug 19                                  0
Aug 20                                  0
Aug 21                                  0
Aug 22                                  0
Aug 23                                  0
Payment Received                        6
Jersey Sizes                            7
Payment Date                           19
Date of Birth                           0
Age                                     0
Gender                                  0
School                                  0
Payment Instruction Acknowledgement     4
Injury Liability Waver                  4
Photograph Release Agreement            5
dtype: int64

In [39]:
df

,Timestamp,Student ID,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,Jersey Sizes,Payment Date,Date of Birth,Age,Gender,School,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement
0,7/16/2024 13:31:46,DK-201112-0,True,True,True,True,True,"$2,000.00",34.0,Aug 24,12/22/2011,12,Female,Dsc International School,Confirm,Confirm,Confirm
1,7/16/2024 14:01:06,DC-201204-1,True,True,True,True,True,"$2,000.00",36.0,NaN,4/26/2012,12,Male,ESF Island School,Confirm,Confirm,Confirm
2,7/26/2024 13:45:05,JC-201209-1,True,True,False,True,True,"$1,800.00",34.0,NaN,9/12/2012,11,Male,ESF South Island School,Confirm,Confirm,Confirm
3,7/27/2024 6:34:32,EC-201204-1,True,True,False,False,True,NaN,36.0,NaN,4/10/2012,12,Male,Hong Kong International School,Confirm,Confirm,Confirm
4,7/27/2024 6:36:31,EC-201410-1,True,True,True,True,True,NaN,34.0,NaN,10/27/2014,9,Male,Hong Kong International School,Confirm,Confirm,Confirm
5,7/30/2024 4:16:19,LM-201508-1,True,True,True,False,True,"$1,600.00",32.0,Aug 23,8/22/2015,9,Male,International Montessori School,Confirm,Confirm,Confirm
6,7/30/2024 6:38:05,AL-201410-1,True,True,True,True,True,"$2,000.00",34.0,July 30,10/17/2014,9,Male,Hong Kong International School,Confirm,Confirm,NaN
7,7/31/2024 6:49:26,AJ-201306-1,True,True,True,True,True,"$2,000.00",32.0,Aug 1,6/7/2013,11,Male,Silvermine Bay School,Confirm,Confirm,Confirm
9,8/2/2024 11:52:26,LVH-201709-1,True,True,True,True,True,"$1,800.00",28.0,Aug 19,9/19/2017,6,Male,Victoria Shanghai Academy,Confirm,Confirm,Confirm
10,8/2/2024 12:15:57,TT-201602-1,True,True,False,False,True,"$2,000.00",34.0,Aug 11,2/27/2016,8,Male,Hong Kong International School,Confirm,Confirm,Confirm
11,8/5/2024 6:26:46,CC-201705-1,True,True,True,True,True,"$2,000.00",30.0,Aug 23,5/19/2017,7,Male,Harrow International School,Confirm,Confirm,Confirm
13,8/13/2024 12:27:02,CL-201303-1,False,True,False,True,False,$720.00,NaN,Aug 14,3/11/2013,11,Male,Canadian International School,Confirm,Confirm,Confirm
14,8/15/2024 13:20:20,SK-201406-1,True,True,True,True,True,"$1,800.00",34.0,NaN,6/6/2014,10,Male,Ymca Christian Academy,Confirm,Confirm,Confirm
15,8/18/2024 2:09:55,GT-201108-1,True,True,False,True,False,"$2,000.00",NaN,NaN,8/21/2011,13,Male,Chinese International School,Confirm,Confirm,Confirm
16,8/18/2024 3:43:37,CC-201106-1,True,False,False,False,False,NaN,NaN,NaN,6/19/2011,13,Male,Chinese International School,Confirm,Confirm,Confirm
17,8/18/2024 9:34:53,CH-201302-1,True,True,True,True,True,"$2,000.00",36.0,Aug 18,2/1/2013,11,Male,Kellett School,Confirm,Confirm,Confirm
18,8/18/2024 13:37:18,TD-201004-1,True,False,True,False,True,"$1,200.00",40.0,NaN,4/21/2010,14,Male,Canadian International School,Confirm,Confirm,Confirm
19,8/18/2024 13:52:32,BH-201109-1,True,True,False,False,True,"$2,000.00",38.0,NaN,9/20/2011,12,Male,ESF South Island School,Confirm,Confirm,Confirm
20,8/18/2024 15:26:00,JZ-201603-1,False,False,False,True,True,"$2,000.00",32.0,NaN,3/23/2016,8,Male,Hong Kong International School,Confirm,Confirm,Confirm
21,8/18/2024 18:01:33,ZF-201008-1,False,True,True,True,True,"$2,000.00",40.0,NaN,8/5/2010,14,Male,Canadian International School,Confirm,Confirm,Confirm
23,8/18/2024 18:52:33,WL-200805-1,False,True,True,False,False,$400.00,NaN,Aug 24,5/13/2008,16,Male,Harrow International School,Confirm,Confirm,Confirm
24,8/19/2024 4:36:31,LL-201806-1,True,True,True,True,True,"$2,000.00",26.0,NaN,6/11/2018,6,Male,St. Joseph'S Primary School,Confirm,Confirm,Confirm
25,8/19/2024 7:35:04,BY-201212-1,True,True,True,True,True,"$2,000.00",38.0,NaN,12/17/2012,11,Male,Australian International School,Confirm,Confirm,Confirm
26,8/19/2024 7:35:53,MY-201508-0,True,True,True,True,True,"$2,000.00",30.0,NaN,8/31/2015,8,Female,Australian International School,Confirm,Confirm,Confirm
27,8/19/2024 9:53:38,KW-201510-1,True,True,True,True,False,"$2,000.00",NaN,Aug 19,10/13/2015,8,Male,Australian International School,Confirm,Confirm,Confirm
28,8/19/2024 13:34:27,CC-201009-1,True,False,True,False,False,"$1,200.00",NaN,NaN,9/24/2010,13,Male,Chinese International School,Confirm,Confirm,Confirm
29,8/19/2024 15:02:07,MK-201804-0,True,True,True,True,False,"$2,000.00",26.0,NaN,4/8/2018,6,Female,Ymca Christian Academy,Confirm,Confirm,Confirm
30,NaN,OGB-201701-1,True,True,True,True,True,NaN,NaN,NaN,1/1/2017,9,Male,Unknown,NaN,NaN,NaN
31,NaN,CW-201701-1,False,False,True,False,True,$800.00,42.0,Aug 21,1/1/2017,14,Male,Canadian International School,NaN,NaN,NaN
32,NaN,AA-200910-1,True,True,True,True,True,NaN,40.0,NaN,10/14/2009,14,Male,Dsc International School,NaN,NaN,NaN
33,NaN,AA-200805-1,True,True,True,True,True,NaN,40.0,NaN,5/31/2008,16,Male,Dsc International School,NaN,NaN,NaN

Lets fill in missing values

In [40]:
# Students that did not fill in the Google form were filled in manually on 2024-08-19 18:00:00. 
df['Timestamp'].fillna(pd.Timestamp('2024-08-19 18:00:00'), inplace=True)

# Payment Received
df['Payment Received'].fillna(0, inplace=True)

# Jersey Sizes
df['Jersey Sizes'].fillna(0, inplace=True) # Jerseys with the value of 0 means the jersey sizes for that student were not collected

# Payment Date
df['Payment Date'].fillna('Aug 24', inplace=True)

# Date of birth
current_year = pd.Timestamp.now().year

/var/folders/k8/54zwc4911p16cz5tw9zrk4vh0000gn/T/ipykernel_6508/3183403602.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Timestamp'].fillna(pd.Timestamp('2024-08-19 18:00:00'), inplace=True)
/var/folders/k8/54zwc4911p16cz5tw9zrk4vh0000gn/T/ipykernel_6508/3183403602.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment Received'].fillna(0, inplace=True)
/var/folders/k8/54zwc4911p16cz5tw9zrk4vh0000gn/T/ipykernel_6508/3183403602.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Jersey Sizes'].fillna(0, inplace=True) # Jerseys with the value of 0 means the jersey sizes for that student were not collected
/var/folders/k8/54zwc4911p16cz5tw9zrk4vh0000gn/T/ipykernel_6508/3183403602.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment Date'].fillna('Aug 24', inplace=True)

In [41]:
df.isnull().sum()

Timestamp                              0
Student ID                             0
Aug 19                                 0
Aug 20                                 0
Aug 21                                 0
Aug 22                                 0
Aug 23                                 0
Payment Received                       0
Jersey Sizes                           0
Payment Date                           0
Date of Birth                          0
Age                                    0
Gender                                 0
School                                 0
Payment Instruction Acknowledgement    4
Injury Liability Waver                 4
Photograph Release Agreement           5
dtype: int64

In [42]:
df

,Timestamp,Student ID,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,Jersey Sizes,Payment Date,Date of Birth,Age,Gender,School,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement
0,7/16/2024 13:31:46,DK-201112-0,True,True,True,True,True,"$2,000.00",34.0,Aug 24,12/22/2011,12,Female,Dsc International School,Confirm,Confirm,Confirm
1,7/16/2024 14:01:06,DC-201204-1,True,True,True,True,True,"$2,000.00",36.0,Aug 24,4/26/2012,12,Male,ESF Island School,Confirm,Confirm,Confirm
2,7/26/2024 13:45:05,JC-201209-1,True,True,False,True,True,"$1,800.00",34.0,Aug 24,9/12/2012,11,Male,ESF South Island School,Confirm,Confirm,Confirm
3,7/27/2024 6:34:32,EC-201204-1,True,True,False,False,True,0,36.0,Aug 24,4/10/2012,12,Male,Hong Kong International School,Confirm,Confirm,Confirm
4,7/27/2024 6:36:31,EC-201410-1,True,True,True,True,True,0,34.0,Aug 24,10/27/2014,9,Male,Hong Kong International School,Confirm,Confirm,Confirm
5,7/30/2024 4:16:19,LM-201508-1,True,True,True,False,True,"$1,600.00",32.0,Aug 23,8/22/2015,9,Male,International Montessori School,Confirm,Confirm,Confirm
6,7/30/2024 6:38:05,AL-201410-1,True,True,True,True,True,"$2,000.00",34.0,July 30,10/17/2014,9,Male,Hong Kong International School,Confirm,Confirm,NaN
7,7/31/2024 6:49:26,AJ-201306-1,True,True,True,True,True,"$2,000.00",32.0,Aug 1,6/7/2013,11,Male,Silvermine Bay School,Confirm,Confirm,Confirm
9,8/2/2024 11:52:26,LVH-201709-1,True,True,True,True,True,"$1,800.00",28.0,Aug 19,9/19/2017,6,Male,Victoria Shanghai Academy,Confirm,Confirm,Confirm
10,8/2/2024 12:15:57,TT-201602-1,True,True,False,False,True,"$2,000.00",34.0,Aug 11,2/27/2016,8,Male,Hong Kong International School,Confirm,Confirm,Confirm
11,8/5/2024 6:26:46,CC-201705-1,True,True,True,True,True,"$2,000.00",30.0,Aug 23,5/19/2017,7,Male,Harrow International School,Confirm,Confirm,Confirm
13,8/13/2024 12:27:02,CL-201303-1,False,True,False,True,False,$720.00,0.0,Aug 14,3/11/2013,11,Male,Canadian International School,Confirm,Confirm,Confirm
14,8/15/2024 13:20:20,SK-201406-1,True,True,True,True,True,"$1,800.00",34.0,Aug 24,6/6/2014,10,Male,Ymca Christian Academy,Confirm,Confirm,Confirm
15,8/18/2024 2:09:55,GT-201108-1,True,True,False,True,False,"$2,000.00",0.0,Aug 24,8/21/2011,13,Male,Chinese International School,Confirm,Confirm,Confirm
16,8/18/2024 3:43:37,CC-201106-1,True,False,False,False,False,0,0.0,Aug 24,6/19/2011,13,Male,Chinese International School,Confirm,Confirm,Confirm
17,8/18/2024 9:34:53,CH-201302-1,True,True,True,True,True,"$2,000.00",36.0,Aug 18,2/1/2013,11,Male,Kellett School,Confirm,Confirm,Confirm
18,8/18/2024 13:37:18,TD-201004-1,True,False,True,False,True,"$1,200.00",40.0,Aug 24,4/21/2010,14,Male,Canadian International School,Confirm,Confirm,Confirm
19,8/18/2024 13:52:32,BH-201109-1,True,True,False,False,True,"$2,000.00",38.0,Aug 24,9/20/2011,12,Male,ESF South Island School,Confirm,Confirm,Confirm
20,8/18/2024 15:26:00,JZ-201603-1,False,False,False,True,True,"$2,000.00",32.0,Aug 24,3/23/2016,8,Male,Hong Kong International School,Confirm,Confirm,Confirm
21,8/18/2024 18:01:33,ZF-201008-1,False,True,True,True,True,"$2,000.00",40.0,Aug 24,8/5/2010,14,Male,Canadian International School,Confirm,Confirm,Confirm
23,8/18/2024 18:52:33,WL-200805-1,False,True,True,False,False,$400.00,0.0,Aug 24,5/13/2008,16,Male,Harrow International School,Confirm,Confirm,Confirm
24,8/19/2024 4:36:31,LL-201806-1,True,True,True,True,True,"$2,000.00",26.0,Aug 24,6/11/2018,6,Male,St. Joseph'S Primary School,Confirm,Confirm,Confirm
25,8/19/2024 7:35:04,BY-201212-1,True,True,True,True,True,"$2,000.00",38.0,Aug 24,12/17/2012,11,Male,Australian International School,Confirm,Confirm,Confirm
26,8/19/2024 7:35:53,MY-201508-0,True,True,True,True,True,"$2,000.00",30.0,Aug 24,8/31/2015,8,Female,Australian International School,Confirm,Confirm,Confirm
27,8/19/2024 9:53:38,KW-201510-1,True,True,True,True,False,"$2,000.00",0.0,Aug 19,10/13/2015,8,Male,Australian International School,Confirm,Confirm,Confirm
28,8/19/2024 13:34:27,CC-201009-1,True,False,True,False,False,"$1,200.00",0.0,Aug 24,9/24/2010,13,Male,Chinese International School,Confirm,Confirm,Confirm
29,8/19/2024 15:02:07,MK-201804-0,True,True,True,True,False,"$2,000.00",26.0,Aug 24,4/8/2018,6,Female,Ymca Christian Academy,Confirm,Confirm,Confirm
30,2024-08-19 18:00:00,OGB-201701-1,True,True,True,True,True,0,0.0,Aug 24,1/1/2017,9,Male,Unknown,NaN,NaN,NaN
31,2024-08-19 18:00:00,CW-201701-1,False,False,True,False,True,$800.00,42.0,Aug 21,1/1/2017,14,Male,Canadian International School,NaN,NaN,NaN
32,2024-08-19 18:00:00,AA-200910-1,True,True,True,True,True,0,40.0,Aug 24,10/14/2009,14,Male,Dsc International School,NaN,NaN,NaN
33,2024-08-19 18:00:00,AA-200805-1,True,True,True,True,True,0,40.0,Aug 24,5/31/2008,16,Male,Dsc International School,NaN,NaN,NaN

Check Data Types

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 33
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Timestamp                            31 non-null     object
 1   Student ID                           31 non-null     object
 2   Aug 19                               31 non-null     bool
 3   Aug 20                               31 non-null     bool
 4   Aug 21                               31 non-null     bool
 5   Aug 22                               31 non-null     bool
 6   Aug 23                               31 non-null     bool
 7   Payment Received                     31 non-null     object
 8   Jersey Sizes                         31 non-null     float64
 9   Payment Date                         31 non-null     object
 10  Date of Birth                        31 non-null     object
 11  Age                                  31 non-null     int64
 12  Gender                               31 non-null     object
 13  School                               31 non-null     object
 14  Payment Instruction Acknowledgement  27 non-null     object
 15  Injury Liability Waver               27 non-null     object
 16  Photograph Release Agreement         26 non-null     object
dtypes: bool(5), float64(1), int64(1), object(10)
memory usage: 3.3+ KB

Convert data to appropriate data types

In [44]:
# Convert Timestamp column to datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%m/%d/%Y %H:%M:%S')

# Convert Payment Received to integer
df['Payment Received'] = df['Payment Received'].astype(str).str.replace('[$,]', '', regex=True).astype(float).astype(int)

# Convert jersey sizes to integer
df['Jersey Sizes'] = df['Jersey Sizes'].astype(int)

# Convert Payment Date to date time
# df['Payment Date'] = pd.to_datetime(df['Payment Date'].astype(str) + ' 2024', format='%b %d %Y', errors='coerce')
df['Payment Date'] = pd.to_datetime(df['Payment Date'].str.replace('July', 'Jul') + ' 2024', format='%b %d %Y', errors='coerce')

# Convert Age into Integer
df['Age'] = df['Age'].astype(int)

# Convert Date of birth to datetime
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'], format='%m/%d/%Y')

# Convert Payment Instruction Acknowledgement, Injury Liability Waver and Photograph Release Agreement into boolean types

df['Payment Instruction Acknowledgement'] = df['Payment Instruction Acknowledgement'].apply(lambda x: True if x == "Confirm" else False)

df['Injury Liability Waver'] = df['Injury Liability Waver'].apply(lambda x: True if x == "Confirm" else False)

df['Photograph Release Agreement'] = df['Photograph Release Agreement'].apply(lambda x: True if x == "Confirm" else False)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 33
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Timestamp                            31 non-null     datetime64[ns]
 1   Student ID                           31 non-null     object
 2   Aug 19                               31 non-null     bool
 3   Aug 20                               31 non-null     bool
 4   Aug 21                               31 non-null     bool
 5   Aug 22                               31 non-null     bool
 6   Aug 23                               31 non-null     bool
 7   Payment Received                     31 non-null     int64
 8   Jersey Sizes                         31 non-null     int64
 9   Payment Date                         31 non-null     datetime64[ns]
 10  Date of Birth                        31 non-null     datetime64[ns]
 11  Age                                  31 non-null     int64
 12  Gender                               31 non-null     object
 13  School                               31 non-null     object
 14  Payment Instruction Acknowledgement  31 non-null     bool
 15  Injury Liability Waver               31 non-null     bool
 16  Photograph Release Agreement         31 non-null     bool
dtypes: bool(8), datetime64[ns](3), int64(3), object(3)
memory usage: 2.7+ KB

As we can see, all data types are now appropriatetly changed to its correct type.

Now that the data is cleaned, we are ready to analyze and create insights!

In [46]:
df

,Timestamp,Student ID,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,Jersey Sizes,Payment Date,Date of Birth,Age,Gender,School,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement
0,2024-07-16 13:31:46,DK-201112-0,True,True,True,True,True,2000,34,2024-08-24,2011-12-22,12,Female,Dsc International School,True,True,True
1,2024-07-16 14:01:06,DC-201204-1,True,True,True,True,True,2000,36,2024-08-24,2012-04-26,12,Male,ESF Island School,True,True,True
2,2024-07-26 13:45:05,JC-201209-1,True,True,False,True,True,1800,34,2024-08-24,2012-09-12,11,Male,ESF South Island School,True,True,True
3,2024-07-27 06:34:32,EC-201204-1,True,True,False,False,True,0,36,2024-08-24,2012-04-10,12,Male,Hong Kong International School,True,True,True
4,2024-07-27 06:36:31,EC-201410-1,True,True,True,True,True,0,34,2024-08-24,2014-10-27,9,Male,Hong Kong International School,True,True,True
5,2024-07-30 04:16:19,LM-201508-1,True,True,True,False,True,1600,32,2024-08-23,2015-08-22,9,Male,International Montessori School,True,True,True
6,2024-07-30 06:38:05,AL-201410-1,True,True,True,True,True,2000,34,2024-07-30,2014-10-17,9,Male,Hong Kong International School,True,True,False
7,2024-07-31 06:49:26,AJ-201306-1,True,True,True,True,True,2000,32,2024-08-01,2013-06-07,11,Male,Silvermine Bay School,True,True,True
9,2024-08-02 11:52:26,LVH-201709-1,True,True,True,True,True,1800,28,2024-08-19,2017-09-19,6,Male,Victoria Shanghai Academy,True,True,True
10,2024-08-02 12:15:57,TT-201602-1,True,True,False,False,True,2000,34,2024-08-11,2016-02-27,8,Male,Hong Kong International School,True,True,True
11,2024-08-05 06:26:46,CC-201705-1,True,True,True,True,True,2000,30,2024-08-23,2017-05-19,7,Male,Harrow International School,True,True,True
13,2024-08-13 12:27:02,CL-201303-1,False,True,False,True,False,720,0,2024-08-14,2013-03-11,11,Male,Canadian International School,True,True,True
14,2024-08-15 13:20:20,SK-201406-1,True,True,True,True,True,1800,34,2024-08-24,2014-06-06,10,Male,Ymca Christian Academy,True,True,True
15,2024-08-18 02:09:55,GT-201108-1,True,True,False,True,False,2000,0,2024-08-24,2011-08-21,13,Male,Chinese International School,True,True,True
16,2024-08-18 03:43:37,CC-201106-1,True,False,False,False,False,0,0,2024-08-24,2011-06-19,13,Male,Chinese International School,True,True,True
17,2024-08-18 09:34:53,CH-201302-1,True,True,True,True,True,2000,36,2024-08-18,2013-02-01,11,Male,Kellett School,True,True,True
18,2024-08-18 13:37:18,TD-201004-1,True,False,True,False,True,1200,40,2024-08-24,2010-04-21,14,Male,Canadian International School,True,True,True
19,2024-08-18 13:52:32,BH-201109-1,True,True,False,False,True,2000,38,2024-08-24,2011-09-20,12,Male,ESF South Island School,True,True,True
20,2024-08-18 15:26:00,JZ-201603-1,False,False,False,True,True,2000,32,2024-08-24,2016-03-23,8,Male,Hong Kong International School,True,True,True
21,2024-08-18 18:01:33,ZF-201008-1,False,True,True,True,True,2000,40,2024-08-24,2010-08-05,14,Male,Canadian International School,True,True,True
23,2024-08-18 18:52:33,WL-200805-1,False,True,True,False,False,400,0,2024-08-24,2008-05-13,16,Male,Harrow International School,True,True,True
24,2024-08-19 04:36:31,LL-201806-1,True,True,True,True,True,2000,26,2024-08-24,2018-06-11,6,Male,St. Joseph'S Primary School,True,True,True
25,2024-08-19 07:35:04,BY-201212-1,True,True,True,True,True,2000,38,2024-08-24,2012-12-17,11,Male,Australian International School,True,True,True
26,2024-08-19 07:35:53,MY-201508-0,True,True,True,True,True,2000,30,2024-08-24,2015-08-31,8,Female,Australian International School,True,True,True
27,2024-08-19 09:53:38,KW-201510-1,True,True,True,True,False,2000,0,2024-08-19,2015-10-13,8,Male,Australian International School,True,True,True
28,2024-08-19 13:34:27,CC-201009-1,True,False,True,False,False,1200,0,2024-08-24,2010-09-24,13,Male,Chinese International School,True,True,True
29,2024-08-19 15:02:07,MK-201804-0,True,True,True,True,False,2000,26,2024-08-24,2018-04-08,6,Female,Ymca Christian Academy,True,True,True
30,2024-08-19 18:00:00,OGB-201701-1,True,True,True,True,True,0,0,2024-08-24,2017-01-01,9,Male,Unknown,False,False,False
31,2024-08-19 18:00:00,CW-201701-1,False,False,True,False,True,800,42,2024-08-21,2017-01-01,14,Male,Canadian International School,False,False,False
32,2024-08-19 18:00:00,AA-200910-1,True,True,True,True,True,0,40,2024-08-24,2009-10-14,14,Male,Dsc International School,False,False,False
33,2024-08-19 18:00:00,AA-200805-1,True,True,True,True,True,0,40,2024-08-24,2008-05-31,16,Male,Dsc International School,False,False,False

Now lets download the cleaned dataset and conduct some analysis and gain insights to create company value

In [47]:
df.to_csv('data/Cleaned_Data.csv', encoding='utf-8', index=False)

Lets also merge/full-outer join "Cleaned_Data.csv" with "Additional_Columns.csv"

In [48]:
cleaned_df = pd.read_csv('data/Cleaned_Data.csv')
additional_columns = pd.read_csv('data/Additional_Columns.csv')
full_join_df = pd.merge(cleaned_df, additional_columns, on='Student ID', how='outer')
full_join_df.to_csv('data/merged_df.csv', encoding='utf-8', index=False)